div.board {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -300px; 
    height: 600px;
    width: 600px;
    display: block;
    background-color: rgb(56, 56, 56);
    
}

div.square{
    height:75px;
    width: 75px;
    float: left;
}

div.dark{
    background-color: rgb(56, 56, 46); 
}

div.light{
    background-color: rgb(179, 180, 113); 
}



body{
    background-color: rgb(46, 12, 12);
}

div.black.pawn{
    background-image: url(assets/black_pawn.png);
}

div.black.rook{
    background-image: url(assets/black_rook.png);
}

div.black.knight{
    background-image: url(assets/black_knight.png);
}

div.black.bishop{
    background-image: url(assets/black_bishop.png);
}

div.black.queen{
    background-image: url(assets/black_queen.png);
}

div.black.king{
    background-image: url(assets/black_king.png);
}


div.white.pawn{
    background-image: url(assets/white_pawn.png);
}

div.white.rook{
    background-image: url(assets/white_rook.png);
}

div.white.knight{
    background-image: url(assets/white_knight.png);
}

div.white.bishop{
    background-image: url(assets/white_bishop.png);
}

div.white.queen{
    background-image: url(assets/white_queen.png);
}

div.white.king{
    background-image: url(assets/white_king.png);
}

div.highlighted{
    background-color: rgb(120, 200, 207);
}

div.clicked{
    background-color: rgb(0, 200, 207);
}